@page
@model Web.Pages.Account.SetupModel
@{
}
<div class="panel constrained">

    <h1 class="no-spacing-bottom">Setup</h1>
    <p>
        Since this site doesn't have any accounts yet,
        you can use this page to create one. This page
        won't be accessible after you create an account here.
    </p>

    <form method="post">
        <div class="auto-cols">
            <div>
                <label asp-for="Username" class="required"></label>
                <input asp-for="Username" />
            </div>
            <div>
                <label asp-for="Password" class="required"></label>
                <input asp-for="Password" />
            </div>
        </div>
        
        <div class="flex-stack" style="margin-top: var(--spacing-lg);">
            <label asp-for="DisplayName"></label>
            <input asp-for="DisplayName" />
        </div>
        

        <button type="submit" class="large-top-spacing">Done</button>
    </form>
</div>