@page
@model Management.Pages.UploadModel
@{
    ViewData["Title"] = "Upload";
}
<input type="file" accept="image/png, image/jpeg" id="image-upload"/>

<div class="image-upload-area" data-related-input="#image-upload">
    <p>Drag and drop image here or click to to open file picker</p>
    <p class="image-upload-area-filename"></p>
</div>

<div id="hidden-before-upload">
    <div id="preview-and-palette">
        <div id="preview-box"></div>
        <div id="palette-box"></div>
    </div>

    @* <div class="hline"></div> *@

    <div id="basic-stats-grid">
        <p id="brightness-label">
            Brightness: <span id="brightness-display"></span>
        </p>
        <p id="resolution-label">
            Resolution: <span id="resolution-display"></span>
        </p>
    </div>

    <h2>Image Sizes and Watermarks</h2>

    <div id="downscaled-images-container"></div>

</div>

@section Styles {
    <style>
        #image-upload {
            display: none;
        }
        #hidden-before-upload {
            display: none;
            flex-direction: column;
        }
        #preview-and-palette {
            flex-direction: column;
            min-height: 0px;
            max-height: 500px;
            max-width: 100%;
            overflow: hidden;
            width: auto;
            margin: var(--spacing-lg) auto;
            display: flex;
            align-items: center;
        }
        #preview-box {
            overflow: hidden;
            display: flex;
            justify-content: center;
        }
        #preview-box > img {
            height: auto;
            width: auto;
            max-height: 100%;
            max-width: 100%;
            object-fit: contain;
        }
        #palette-box {
            display: flex;
            flex-direction: row;
            height: 30px;
        }
        #palette-box > div {
            flex: 1;
        }

        #basic-stats-grid {
            margin-top: var(--spacing-lg);
            display: grid;
            border: var(--border-soft);
            border-radius: var(--rounding);
            grid-template-columns: 1fr 1fr;
        }

        #basic-stats-grid > * {
            margin: 0px;
            padding: var(--spacing-lg);
            border-right: var(--border-soft);
            text-align: center;
        }
        #basic-stats-grid > *:last-of-type {
            border-right: none;
        }

        #downscaled-images-container {
            display: flex;
            flex-direction: column;
            justify-content: start;
        }

        .downscaled-image-container {
            max-height: 500px;
            display: flex;
            overfllow: hidden;
        }
        .downscaled-image-container > canvas {
            width: auto;
            max-width: 100%;
            object-fit: contain;
            object-position: left;
            height: auto;
            max-height: 100%;
        }
    </style>
}
@section Scripts {
    <script>

        var elements = {
            imageUpload: null,
            hiddenBeforeUpload: null,
            brightnessDisplay: null,
            resolutionDisplay: null,
            previewAndPalette: null,
            previewBox: null,
            paletteBox: null,
            downscaledImagesContainer: null
        };

        addEventListener("load", () => {
            discoverElements();
            hookupEvents();
            resetPage();
        });

        function discoverElements() {
            elements.imageUpload = document.getElementById("image-upload");
            elements.hiddenBeforeUpload = document.getElementById("hidden-before-upload");
            elements.brightnessDisplay = document.getElementById("brightness-display");
            elements.resolutionDisplay = document.getElementById("resolution-display");
            elements.previewAndPalette = document.getElementById("preview-and-palette");
            elements.previewBox = document.getElementById("preview-box");
            elements.paletteBox = document.getElementById("palette-box");
            elements.downscaledImagesContainer = document.getElementById("downscaled-images-container");
        }

        function hookupEvents() {
            elements.imageUpload.addEventListener("input", async e => {
                resetPage();
                await handleImageInput();
            });
        }

        async function handleImageInput(){
            if(elements.imageUpload.files.length) {
                const info = await getImageInfoFromFile(elements.imageUpload.files[0]);
                elements.hiddenBeforeUpload.style.display = "flex";
                for (let color of info.palette) {
                    let display = document.createElement("div");
                    display.style.width = "25px";
                    display.style.height = "25px";
                    display.style.background = `rgb(${color[0]}, ${color[1]}, ${color[2]})`;
                    elements.paletteBox.appendChild(display);
                }
                elements.previewBox.appendChild(info.image);
                elements.paletteBox.style.width = `${(info.image.offsetHeight/info.image.naturalHeight) * info.image.naturalWidth}px`;
                elements.brightnessDisplay.innerHTML = Math.round(info.brightness * 100) + "%";
                elements.resolutionDisplay.innerHTML = `${info.image.naturalWidth}x${info.image.naturalHeight}`;
                const downscaledImages = generateDownscaledImages(info.image);
                renderDownscaledImages(downscaledImages);
            }
        }

        function resetPage(){
            elements.hiddenBeforeUpload.style.display = "none";
            elements.brightnessDisplay.innerHTML = "";
            elements.previewBox.innerHTML = "";
            elements.paletteBox.innerHTML = "";
        }

        function renderDownscaledImages(images){
            elements.downscaledImagesContainer.innerHTML = "";
            for(const [sizeName, image] of Object.entries(images)){
                renderDownscaledImage(sizeName, image);
            }
        }

        function renderDownscaledImage(sizeName, image){
            const label = document.createElement("h2");
            label.innerHTML = capFirst(sizeName) + ` (${image.width}x${image.height} px)`;
            elements.downscaledImagesContainer.append(label);
            const container = document.createElement("div");
            container.className = "downscaled-image-container";
            elements.downscaledImagesContainer.append(container);
            container.append(image);
        }

        function capFirst(str){
            if(str.length === 0) return str;
            return str[0].toLocaleUpperCase() + str.substring(1);
        }

    </script>
}