html, body {
    margin: 0px;
    display: flex;
    flex-direction: column;
}

html, button, input, textarea, select {
  font-size: 14px;
}

@media (min-width: 768px) {
    html, button, input, textarea, select {
        font-size: 16px;
    }
}

#header {
    position: sticky;
    top: 0px;
    width: 100%;
    display: flex;
    backdrop-filter: blur(2px);
    background: var(--header-bg);
}
#header > * {
    flex: 1;
    text-align: center;
    flex-basis: 0;
}