html, body, form {
    margin: 0px;
    display: flex;
    flex-direction: column;
}

html, button, input, textarea, select {
  font-size: 14px;
}

@media (min-width: 768px) {
    html, button, input, textarea, select {
        font-size: 16px;
    }
}

html, body {
    height: 100%;
    min-height: 0px;
    overflow: hidden;
}

#header {
    display: flex;
}
#header > * {
    flex: 1;
    text-align: center;
    flex-basis: 0;
}

#body-content {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow-x: auto;
}