:root {
    --body-bg: rgb(204, 231, 255);
    --content-bg: white;

    --soft-border: solid 2px rgb(230, 230, 230);
    --soft-dashed-border: dashed 2px rgb(230, 230, 230);

    --spacing: 0.3em;
    --spacing-lg: 0.75em;

    --rounding: 0.3pc;
    --rounding-lg: 0.5pc;

    --fg-soft: rgb(145, 145, 145);
}

html, body {
    margin: 0px;
    padding: 0px;
    height: 100%;
    min-height: 0px;
    overflow: auto;
}
* {
    font-family: 'Lexend Deca';
}

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

body {
    background: var(--body-bg);
}
html, body {
    display: flex;
    flex-direction: column;
    min-width: 0px;
    width: 100%;
}
#page-content {
    background: var(--content-bg);
    width: 100%;
    max-width: 1200px;
    margin: 0px auto;
    padding: var(--spacing-lg);
    overflow: hidden;
    flex: 1;
}
#page-header {
    position: sticky;
    top: 0px;
    left: 0px;
    display: flex;
    background: var(--content-bg);
    padding: var(--spacing-lg);
    border-bottom: var(--soft-border);
}
#page-header > h1 {
    margin: 0px;
    padding: 0px;
}

.image-upload-area {
    border: var(--soft-dashed-border);
    border-radius: var(--rounding-lg);
    padding: var(--spacing-lg);
    text-align: center;
    cursor: pointer;
    user-select: none;
}
.image-upload-area > p {
    margin: 0px;
    padding: 0px;
    color: var(--fg-soft);
}