@page
@model Web.Pages.ThemeToolkitModel
@{
}
<p>Paragraph</p>
<p>
    Text with <a href="#">a link</a>
</p>
<button>Button</button>
<input placeholder="Text input" />
<br/>
<textarea placeholder="Textarea"></textarea>

<div class="panel">
    <p>This is a paragraph inside a panel</p>
    <p>
        Text with <a href="#">a link</a>
    </p>
    <button>Button</button>
    <input placeholder="Text input" />
    <br/>
    <textarea placeholder="Textarea"></textarea>
</div>